footer{
    display: flex;
    background-color: ghostwhite;
    position: relative;
    margin: auto auto 2vh auto;
}
.footer, .footer-div, .footer-left, .footer-right{
    display: flex;
    flex: 1;
}
.footer-div{
    padding: 2rem;
}

/**/

.footer-left{
    background-color: ghostwhite;
    flex-direction: column;
    height: 150px;
    margin-left: 1vw;
}

.footer-logo-div{
    display: flex;
}

.footer-logo-img{
    height: 10vh;
}

/**/

.sources{
    margin: 2vh auto auto 0;
}

.footer-title{
    font-weight: 600;
    font-size: 17px;
}
.footer ul{
    padding-left: 0;
}
.footer li{
    line-height: 2em;
}
.footer-right > *{
    flex: 1;
}
.footer-right{
    display: flex;
    flex: 3;
}

.footer-bottom{
    background-color: #ff951c;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}