footer, .footer-div, .footer-left, .footer-right{
    display: flex;
    flex: 1;
}

footer{
    background-color: white;
    position: relative;
    margin: auto auto 2vh auto;
    height: 20vh;
}

.footer-div{
    padding: 2rem;
}

/**/

.footer-left{
    flex-direction: column;
    height: 150px;
}

.footer-logo-div{
    display: flex;
    align-items: center;
}

.footer-logo-img{
    height: 10vh;
}

.footer-logo-text{
    font-size: 18px;
    padding-left: .5vw;
}

/**/

.sources{
    margin: 2vh auto auto 0;
}

.footer-right > *{
    flex: 1;
}
.footer-right{
    display: flex;
    flex: 3;
}

.footer-title{
    font-weight: 600;
    font-size: 18px;
}

.box{
    font-size: 16px;
}

.footer-link{
    margin: 0.1rem 0;
}

.upBtn{
    flex: unset;
}

@media screen and (max-width: 768px){


    
    .footer-logo-img{
        height: 7vh;
    }
    
    .footer-logo-text{
        font-size: 16px;
    }
    
    /**/
    
    .sources{
        margin: 2vh auto auto 0;
    }
    
    .footer-right > *{
        flex: 1;
    }
    .footer-right{
        display: flex;
        flex: 3;
    }
    
    .footer-title{
        font-weight: 600;
        font-size: 15px;
    }
    
    .box{
        margin-top: .1rem;
        font-size: 13px;
    }

    .footer-link{
        margin: 0.4rem 0;
    }

    .upBtn{
        flex: unset;
    }
}