main {
    background-color: whitesmoke;
}

section {
    padding: 5rem;
    display: flex;
}

.presentation {
    height: 35rem;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%), url("../media/intro.background.jpg") center no-repeat fixed;
    position: relative;
}

.introduction {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.intro-text h2{ 
    font-weight: 500;
    color: whitesmoke;
}

#main-section {
    min-height: 39rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2;
    width: 90%;
    margin: auto;
}

.main-text h2 {
    padding-bottom: 2%;
}

.main-img {
    margin-top: 0%;
    flex: 1;
    display: flex;
}

#img-main {
    height: 30rem;
    width: auto;
    margin: auto;
}

.extraMargin {
    margin-top: 3rem;
}

#end-section{
    padding-top: 1rem;
    min-height: 38rem;
}

.step-title {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    width: 90%;
    margin: auto;

}

.step {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 75%;
    margin: 1rem auto;
    border-radius: 15px;
    padding: 1rem 0.7rem;
    background-color: #9bc277;
    text-align: center;
    display: flex;
    flex-direction: column;
}


#step-link {
    margin: auto;
}

#step-link:hover{
    border: solid 2px #FFFFFF; /* Velg farge */
}

.footnote {
    color:#ffa200;
}

.pink {
    color:#ffa200;
}

@media screen and (max-width: 900px){
    section {
        padding: 3rem;
    }
    
    .introduction {
        margin: 4rem auto;
    }
    
    #main-section {
        height: 100vh;;
    }
    
    #img-main {
        height: 25rem;
    }
    
    .extraMargin {
        margin-top: 3rem;
    }
    
    #end-section{
        padding-top: 1rem;
    }
}

@media screen and (max-width: 768px){    
    section {
        padding: 3rem;
    }
    
    .introduction {
        margin: 4rem auto;
    }
    
    .intro-text h2 {
        font-size: 38px;
    }
    
    #main-section {
        height: 100vh;;
    }
    
    .main-text {
        font-size: 1rem;
    }

    .main-text h2{
        font-size: 1.3rem;
    }
    
    #img-main {
        height: 25rem;
    }
    
    .extraMargin {
        margin-top: 3rem;
    }
    
    #end-section{
        padding-top: 1rem;
    }
    
    .step-title {
        font-size: 1rem;
    }
    
    .step {
        width: 80%;
        font-size: 1rem;
    }
    
    
    #step-link {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px){    
    section {
        padding: 2rem;
    }
    
    .introduction {
        margin: 3rem auto;
    }
    
    #main-section {
        height: auto;
        flex-direction: column;
    }
    
    #img-main {
        margin-top: 3rem;
        height: 22rem;
    }
    
    .extraMargin {
        margin-top: 3rem;
    }
    
    #end-section{
        padding-top: 1rem;
    }
}
