main {
    background-color: whitesmoke;
}

section {
    padding: 5rem;
    display: flex;
}

.presentation {
    height: 87.7vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%), url("../media/intro.background.jpg") center no-repeat fixed;
    position: relative;
}

.introduction {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    color: whitesmoke;
}

#main-section {
    height: 100vh;;
}

.main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2;
    font-size: 1.3rem;
    width: 90%;
    margin: auto;
}

.main-text h1 {
    padding-bottom: 2%;
}

.main-img {
    margin-top: 0%;
    flex: 1;
    display: flex;
}

#img-main {
    height: 30rem;
    width: auto;
    margin: auto;
}

.main-button {
    background-color: #9bc277;
    display: flex;
    width: fit-content;
    margin: 20px auto auto auto;
    padding: 0.3rem 1rem;
    border: solid 2px transparent;
    border-radius: 30px;
}

.main-button:hover {
    border: solid 2px #43790d;
    transition: all ease-in-out 200ms;
}

.extraMargin {
    margin-top: 3rem;
}

#end-section{
    padding-top: 1rem;
}

.step-title {
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}

.step {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 75%;
    margin: 1rem auto;
    border-radius: 15px;
    padding: 20px 15px;
    background-color: #9bc277;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}


#step-link {
    width: fit-content;
    margin: auto;
    background-color: rgb(255, 149, 28);
    padding: 0.5rem 1rem;
    border: solid 2px transparent;
    border-radius: 30px;
}

#step-link:hover{
    border: solid 2px #FFFFFF; /* Velg farge */
}

.footnote {
    color: darkorange;
}

.pink {
    color: rgb(221, 120, 137);
}

@media screen and (max-width: 768px){    
    section {
        padding: 3rem;
    }
    
    .introduction {
        margin: 4rem auto;
    }
    
    .intro-text h1 {
        font-size: 38px;
    }
    
    #main-section {
        height: 100vh;;
    }
    
    .main-text {
        font-size: 1rem;
    }

    .main-text h1{
        font-size: 1.3rem;
    }
    
    #img-main {
        height: 25rem;
    }
    
    .main-button {
        margin: 15px auto auto auto;
        border-radius: 30px;
        font-size: 0.9rem;
    }
    
    .extraMargin {
        margin-top: 3rem;
    }
    
    #end-section{
        padding-top: 1rem;
    }
    
    .step-title {
        font-size: 1rem;
    }
    
    .step {
        width: 80%;
        font-size: 1rem;
    }
    
    
    #step-link {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px){    
    section {
        padding: 2rem;
    }
    
    .introduction {
        margin: 3rem auto;
    }
    
    .intro-text h1 {
        font-size: 26px;
    }
    
    #main-section {
        height: auto;
        flex-direction: column;
    }
    
    .main-text {
        font-size: 0.8rem;
    }

    .main-text h1{
        font-size: 1.3rem;
    }
    
    #img-main {
        margin-top: 3rem;
        height: 22rem;
    }
    
    .main-button {
        margin: 15px auto auto auto;
        border-radius: 30px;
        font-size: 0.8rem;
    }
    
    .extraMargin {
        margin-top: 3rem;
    }
    
    #end-section{
        padding-top: 1rem;
    }
    
    .step-title {
        font-size: 0.9rem;
    }
    
    .step {
        width: 80%;
        font-size: 0.8rem;
    }
    
    
    #step-link {
        font-size: 0.8rem;
    }
}

