.Orange-Ord {
    color: darkorange;
    font-family: "Quicksand","Cabin Sketch", sans-serif;
    font-weight: 900;
}

.headerfont {
    font-family: "Quicksand","Cabin Sketch", sans-serif;
    font-weight: 900;
    text-shadow: 0 0px 1px;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
}

.LearnBody {
    display: flex;
    padding-bottom: 60px;
}

.visit {
    font-size: 16px;
    color: darkorange;
}

.footnote {
    color: darkorange;
}

.presentationLearn {
    height: 40vh;
    background: whitesmoke;
    position: relative;
}

.introductionLearn {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.intro-textLearn h1 {
    font-size: 44px;
    font-weight: 500;
    color: whitesmoke;
    padding-top: 8%;
    font-family: "Quicksand","Cabin Sketch", sans-serif;
    font-variant: small-caps;
}

.The13th {
    color: #71a046;
}

@media screen and (min-width:700px) {
    .Headline {
        padding: 5rem 0 3rem 0;
        text-align: left;
        font-size: 3.5rem;
        
    }
    .underHeadline {
        font-size: 1.5rem;
        padding-top: 20px;
    }
    .LearnBody {
        display: flex;
    }
    .LearnHed {
        font-weight: bold;
        text-align: center;
        padding-top: 8%;

        order: 1;
        width: 50%;
    }
    .LearnList {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        order: 2;
        width: 50%;
        margin-left: 10%;
        margin-bottom: 40px;
        border-radius: 5px;
        background: #9bc277;
        font-size: 1.3rem;
        padding: 10px;
        /* background: #c7e2e1; */
    }
    .LearnList li {
        padding: 5px;
    }
    .container {
        background-color: #f5f5f5;
    }
    .container p {
        font-size: 1.3rem;
    }
    .mainbox {
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 5%;
        width: 60%;
    }
    .Paragraph {
        padding-top: 10%;
    }
    .presentationLearn {
        height: 40vh;
        position: relative;
        color: black;
    }
    .introductionLearn {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro-textLearn h1 {
        font-size: 44px;
        font-weight: 500;
        color: black;
    }
  
}

@media screen and (max-width: 700px) {
    .Headline {
        padding: 4rem 0 1rem 0;
        text-align: center;
        font-size: 1.8rem;
    }
    .underHeadline {
        padding-bottom: 5px;
        font-size: 1.6rem;
    }
    .LearnHed {
        text-align: center;
        padding-top: 8%;
        order: 1;
        width: 100%;
    }
    .LearnList {
        order: 2;
        width: 100%;
        margin: 40px 0 60px 0;
        border-radius: 5px;
        background: #9bc277;
        font-size: 1.3rem;
        padding: 10px;
    }
    .LearnList li {
        padding: 5px;
    }
    .container {
        background-color: whitesmoke;
    }
    .container p {
        font-size: 1.3rem;
    }
    .mainbox {
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 5%;
        width: 80%;
    }
    .Paragraph {
        padding-top: 30%;
    }
    .stages {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .presentationLearn {
        height: 40vh;
        position: relative;
        color: black;
    }
    .introductionLearn {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro-textLearn h1 {
        font-size: 30px;
        font-weight: 500;
        padding: 2rem;
        color: black;
    }

    section{
        padding: 2rem;
    }
}


@media screen and (max-width: 400px) {
    .Headline {
        padding: 4rem 0 1rem 0;
        text-align: center;
        font-size: 1.3rem;
    }
    .underHeadline {
        padding-bottom: 5px;
        font-size: 1.6rem;
    }
    .LearnHed {
        text-align: center;
        padding-top: 8%;
        order: 1;
        width: 100%;
    }
    .LearnList {
        order: 2;
        width: 100%;
        margin: 10px 0 40px 0;
        border-radius: 5px;
        background: #9bc277;
        font-size: 1.3rem;
        padding: 10px;
    }
    .LearnList li {
        padding: 5px;
    }
    .container {
        background-color: whitesmoke;
    }
    .container p {
        font-size: 1.3rem;
    }
    .mainbox {
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 5%;
        width: 80%;
    }
    .Paragraph {
        padding-top: 30%;
    }
    .stages {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .presentationLearn {
        height: 40vh;
        position: relative;
        color: black;
    }
    .introductionLearn {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro-textLearn h1 {
        font-size: 25px;
        font-weight: 500;
        padding:1rem;
        color: black;
    }
}