.Orange-Ord {
    color: darkorange;
}

.visit {
    font-size: 16px;
    color: darkorange;
}

.footnote {
    color: darkorange;
}

.container {
    background-color: whitesmoke;
}

.Headline {
    padding: 3rem 0 1rem 0;
    text-align: center;
}

.presentationLearn {
    min-height: 8rem;
    color: black;
    background: whitesmoke;
    position: relative;
}

.introductionLearn {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.intro-textLearn h1 {
    font-weight: 500;
}

.LearnHed {
    font-weight: bold;
    text-align: center;
    padding-top: 8%;
    order: 1;
}

.LearnList{
    order: 2;
    border-radius: 5px;
    background: #9bc277;
}

.LearnList li {
    padding: 5px;
}

.The13th {
    color: #71a046;
}

@media screen and (min-width:700px) {
    .LearnBody {
        display: flex;
    }

    .LearnHed {
        width: 50%;
    }

    .LearnList {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 50%;
        margin-left: 10%;
        margin-bottom: 40px;
        /* background: #c7e2e1; */
    }

    .mainbox {
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 5%;
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .Headline {
        text-align: center;
    }
    .underHeadline {
        padding-bottom: 5px;
    }
    .LearnList {
        width: 100%;
        margin: 10px 0 40px 0;
        padding: 10px;
    }

    .mainbox {
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 5%;
        width: 80%;
    }
}