/* Edit this. Just for some default top&bot margins since zeroed out by basic.css*/

.mainbox h2 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.stages h4 {
    margin-block-start: 1.33rem;
    margin-block-end: 1.33rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* ------------------------------------- */

.Headline{
    text-align: center;
}

#CalengeList{
    display: flex;
    flex-direction: column;

    width: auto;

}


.container {
    background-color: ghostwhite;
}

.mainbox {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.stages {
    display: flex;
    flex-direction: column;
    width: 50%;
}

/**.stage1{
    border: 2px solid black;
}
.stage2{
    border: 2px solid black;
}
.stage3{
    border: 2px solid black;
}*/
