

/* ---------------------- Navigation bar ------------------*/
/*-------------------------------------------------------- */
header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    justify-content: space-around;
    margin: 1vh 1vh 0 1vh;
}

.navigation {
    display: flex;
    width: 90%;
    align-items: center;
    font-size: 20px;
}

.logo-div,
.nav-links,
.hamburger {
    display: flex;
}
/*-------------------------------------------------------- */
/*------------------------- logo ------------------------- */
.logo-div {
    flex: 1;
}

.logo-img {
    height: 10vh;
}

.logo-text {
    font-weight: 500;
    letter-spacing: 0.1rem;
    float: left;
}

.logo-link {
    width: auto;
    margin: auto 0 auto 0;
    padding-right: 1vw;
}

/*--------------------- logo end ------------------------- */
/*----------------------- nav ---------------------------- */
nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
}

.nav-link {
    color: black;
    font-size: 18px;
    font-family: GothamLight;
}

.nav-link:hover {
    color: rgb(252, 105, 0);
    transition: 0.1s all ease-out;
}
/* Under skal endres! Er bare for å huske på det */
.current {
    font-weight: 600;
    padding: 3px 6px 3px 6px;
    /* background-color: rgba(135, 206, 250, 0.541); */
}

/*---------------------- nav end ------------------------- */
/*--------------------- hamburger  ----------------------- */
.hamburger img {
    float: right;
    height: 3vh;
    cursor: pointer;
}

.hamburger {
    display: none;
}
/*--------------------- hamburger end -------------------- */
