main {
    background-color: whitesmoke;
}

section {
    padding: 5rem;
    display: flex;
}

.presentation {
    height: 87.7vh;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4) 0%, rgba(0,0,0,0.8) 100%), url("../media/intro.background.jpg")
    center no-repeat fixed;
    position: relative;
}

.introduction {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    color: whitesmoke;
}

#main-section {
    height: 95vh;
    width: 90%;
    margin-bottom: 2rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2;
    font-size: 1.3rem;
}

.main-text h2 {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 2%;
}

.paragraph {
    width: 90%;
    height: 100vh;
}


.main-img {
    flex: 1;
    height: 35rem;
    display: flex;
}

#img-main {
    height: 35rem;
    width: auto;
    margin: auto;
}

.main-button{
    background-color: #9bc277;
    display: flex;
    width: fit-content;
    margin: 5px auto auto auto;
    padding: 0.3rem 1rem;
    border: solid 2px transparent;
    border-radius: 30px;
}

.main-button:hover{
    border: solid 2px #43790d;
    transition: all ease-in-out 200ms;
}

.extraMargin{
    margin-top: 3rem;
}

.steps {
    padding-bottom: 5%;
}

.step {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 10px;
    padding: 15px;
    background-color: #9bc277;
    text-align: center;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
}

footer {
    position: bottom;
    bottom: 0px;
    width: 100%;
    background-color: gold;
    height: 30vh;
}

.footer-box {
    display: flex;
    align-items: center;
}

.left-box {
    flex: 1;
}

.facebook-box {
    display: flex;
    flex-direction: row;
}