main{
    background-color: whitesmoke;
}

.presentation{
    margin-top: 20px;
    height: 87vh;
    background: #9bc277;
}

.introduction{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494949, #6f6f90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main-section{
    height: 95vh;
    width: 90%;
    margin: auto;
    display: flex;
}

section{
    scroll-behavior: smooth;
}

.main-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;    
    font-size: 1.3rem;
    margin-top: 5%;

}


.main-text h2{
width: 90%;
margin-left: 5%;
padding-bottom: 2%;
margin-top: 5%;
}

.main-p{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 3%;

}

.main-img{
    flex: 1;
}

#img-main{
    height: 60vh;
    margin-left: 25%;
    margin-top: 40%;
}

.main-button{
    width: 30%;
    padding:10px;
    margin-bottom: 15%;
    margin-left: 35%;
    font-size: 1.3rem;
    background-color: #9bc277;
    border-radius: 3px;
    border: transparent;
}

.Stages {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 10px;
    padding: 15px;
    background-color: #9bc277;
    text-align: center;
    font-size: 1.3rem;
}

.Stage{
padding-bottom: 5%;}



footer{
    position: bottom;
    bottom: 0px;
    width: 100%;
    background-color: gold;
    height: 30vh;
}

.footer-box{
    display: flex;   
    align-items: center; 
}

.left-box{
    flex: 1;
}

.facebook-box{
    display: flex;
    flex-direction: row;
}