.App-main {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 10%;
    text-align: center;
}

.App-tekst {
    width: 60%;
    margin-bottom: 3%;
    padding: 2.5%;
    font-size: 1.3rem;
    padding-top: 14%;
}

.App-bilde {
    width: 35%;
    padding-top: 8%;
}

.App-bilder {
    width: 100%;
}

#App-tekst2 {
    margin-top: 3%;
}

#App-tekst3 {
    margin-top: 3%;
}

.link--too--privacy {
    color: darkorange;
}

.Nav-Bilde {
    scale: 10%;
    padding-top: 5%;
    width:75%;
}

.presentationApp {
    height: 87.7vh;
    background: whitesmoke;
    position: relative;
}

.introductionApp {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.intro-textApp h1 {
    font-size: 44px;
    font-weight: 500;
    color: black;
}

.farge-Ord {
    color: darkorange;
}

@media screen and (min-width: 840px) {
    .App-main {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        margin-left: 10%;
        text-align: center;
    }
    .App-tekst {
        width: 60%;
        margin-bottom: 3%;
        padding: 2.5%;
        font-size: 1.3rem;
        padding-top: 14%;
    }
    .App-bilder {
        width: 100%;
    }
    .App-bilde {
        width: 35%;
        padding-top: 8%;
    }
    
    #App-tekst2 {
        margin-top: 3%;
    }
    #App-tekst3 {
        margin-top: 3%;
    }
    .link--too--privacy {
        color: darkorange;
    }
    .Nav-Bilde {
        scale: 10%;
        padding-top: 5%;
    }
    .presentationApp {
        height: 40vh;
        background: whitesmoke;
        position: relative;
    }
    .introductionApp {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro-textApp h1 {
        font-size: 44px;
        font-weight: 500;
        color: black;
    }
    .farge-Ord {
        color: darkorange;
    }
}

@media screen and (width:1024px){
    .App-bilde{
        padding-top:15%;
    }
}

@media screen and (max-width: 840px) {
    .App-main {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        margin-left: 10%;
        text-align: center;
    }
    .App-tekst {
        width: 54%;
        margin-bottom: 3%;
        padding: 2.5%;
        font-size: 1.3rem;
        padding-top: 14%;
    }
    .App-bilder {
        width: 100%;
    }
    .App-bilde {
        width: 45%;
        padding-top: 15%;
    }
    
    #App-tekst2 {
        margin-top: 3%;
    }
    #App-tekst3 {
        margin-top: 3%;
    }
    .link--too--privacy {
        color: darkorange;
    }
    .Nav-Bilde {
        width:80%;
    }

    .presentationApp {
        height: 40vh;
        background: whitesmoke;
        position: relative;
        padding: 2rem;
    }
    .introductionApp {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro-textApp h1 {
        font-size: 1.9rem;
        font-weight: 500;
        color: black;
    }
    .farge-Ord {
        color: darkorange;
    }
}

@media screen and (max-width: 550px) {
    .App-main {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        margin-left: 10%;
        text-align: center;
    }
    .App-tekst {
        width: 100%;
        margin-bottom: 3%;
        padding: 2.5%;
        font-size: 1.3rem;
        padding-top: 14%;
    }
    .App-bilder {
        width: 100%;
    }
    .App-bilde {
        width: 60%;
        margin-left: 20%;
        padding-top: 20%;
    }
    
    #App-tekst2 {
        margin-top: 3%;
    }
    #App-tekst3 {
        margin-top: 3%;
    }
    .link--too--privacy {
        color: darkorange;
    }
    .Nav-Bilde {
        width:80%;
    }

    .presentationApp {
        height: 45vh;
        background: whitesmoke;
        position: relative;
        padding: 1rem;
    }
    .introductionApp {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro-textApp h1 {
        font-size: 1.60rem;
        font-weight: 500;
        color: black;
    }
    .farge-Ord {
        color: darkorange;
    }
}

@media screen and (max-width: 568px) {
    .App-main {
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        margin-left: 10%;
        text-align: center;
    }
    .App-tekst {
        width: 100%;
        margin-bottom: 3%;
        padding: 2.5%;
        font-size: 1.3rem;
        padding-top: 14%;
    }
    .App-bilder {
        width: 100%;
    }
    .App-bilde {
        width: 60%;
        margin-left: 20%;
        padding-top: 20%;
    }
    
    #App-tekst2 {
        margin-top: 3%;
    }
    #App-tekst3 {
        margin-top: 3%;
    }
    .link--too--privacy {
        color: darkorange;
    }
    .Nav-Bilde {
        width:80%;
    }

    .presentationApp {
        height: 45vh;
        background: whitesmoke;
        position: relative;
        padding: 1rem;
    }
    .introductionApp {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro-textApp h1 {
        font-size: 1.60rem;
        font-weight: 500;
        color: black;
    }
    .farge-Ord {
        color: darkorange;
    }
}